<main class="d-flex flex-row mt-5">
  <!-- <ngx-loading-bar [color]="'#ffa600'"></ngx-loading-bar> -->
  <section class="col mb-4">
    <div class="container-fluid content-padding">

      <!-- step 1 -->
      <div *ngIf="step == 1">
        <h4>Enter an address for the person who should receive payment</h4>
        <div class="form-group">
          <label>Payee</label>
          <input type="text" class="form-control" [(ngModel)]="payee">
        </div>
        <div class="form-group">
          <label>Amount</label>
          <input type="number" [(ngModel)]="amount">
        </div>
        <div class="form-group">
          <label>Reason</label>
          <input type="text" [(ngModel)]="reason">
        </div>

        <!-- button: create invoice  -->
        <button type="button" (click)="createInvoice()" class="btn btn-primary">
          Create Invoice
        </button>
      </div>

      <!-- step 2 -->
      <div *ngIf="step == 2">
        <i *ngIf="createLoading" class="fa fa-circle-o-notch fa-spin"></i>
        <h3 class="mt-4">Wait until the invoice is confirmed on the blockchain...</h3>
      </div>

      <!-- step 3 -->
      <div *ngIf="step == 3">
        <h3 class="mt-4">Invoice created. Now ready to pay....</h3>

        <button type="button" (click)="payInvoice()" class="btn btn-primary">Pay Invoice</button>
      </div>

      <!-- step 4 -->
      <div *ngIf="step == 4">
        <h3 class="mt-4">Waiting for payment to clear....</h3>
      </div>

      <!-- step 5 -->
      <div *ngIf="step == 5">
        <h3 class="mt-4">Invoice paid successfully :-)</h3>
      </div>

      <div *ngIf="step == -1">
        <h3 class="mt-4" >Error :-( Please check console output</h3>
      </div>

    </div>
  </section>

  <section class="col mb-4">
      <div class="container-fluid content-padding">
        <div class="row">
          <div class="col-md-8">
            <div *ngIf="currentAccount | async as account; else accountLocked" class="d-flex justify-content-between align-items-center">
              <angular-blockies [options]="{ seed: account.toLowerCase() }" class="blockies"></angular-blockies>
              <div class="d-flex flex-column align-items-start px-2" [style.lineHeight]="'14px'" [style.borderRight]="'1px solid #617B9F'">
                <span class="fc-accent fs-12">{{ web3Service.ledgerConnected ? 'Ledger Nano S' : web3Service.metamask ? 'Metamask' : 'Connect a wallet' }}</span>
                <span class="fs-14">{{ account.substring(0,10) }}...{{ account.substring(37,42) }}</span>
              </div>
              <div class="fs-14 d-flex align-items-center network network-{{ web3Service.networkIdObservable | async }}">
                <span class="network-icon"></span>
                <span class="network-name"></span>
              </div>
            </div>            
            <ng-template #accountLocked>
              <div class="d-flex justify-content-between align-items-center">
                Loading...              
                <div class="d-flex flex-column align-items-start px-2" [style.lineHeight]="'14px'" [style.borderRight]="'1px solid #617B9F'">
                  <span class="fc-accent fs-12">{{ web3Service.ledgerConnected ? 'Ledger Nano S' : web3Service.metamask ? 'Metamask' : 'Connect a wallet' }}</span>
                  <span class="fs-14">{{ web3Service.metamask ? 'Account locked' : 'no account' }}</span>
                </div>
                <div class="fs-14 d-flex align-items-center network network-{{ web3Service.networkIdObservable | async }}">
                  <span class="network-icon"></span>
                  <span class="network-name"></span>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
  </section>

</main>